/* Default padding for all screens */
.aboutus-container {
  margin-top: 80px;
  scroll-margin-top: 80px;
}

/* Increase padding-top on mobile */
@media (max-width: 991.98px) {
  .aboutus-container {
    margin-top: 60px !important;
    scroll-margin-top: 80px !important;
  }
  
  .aboutus-text {
    font-size: 0.8rem; /* smaller font */
  }
  
  .aboutus-heading {
    font-size: 1.15rem; /* smaller heading */
  }
  
  .aboutus-heading-h4 {
    font-size: 1rem; /* smaller h4 */
  }
}

/* Larger font size on desktop */
@media (min-width: 992px) {
  .aboutus-text {
    font-size: 1rem;
  }

  .aboutus-heading {
    font-size: 1.75rem;
  }
  
  .aboutus-heading-h4 {
    font-size: 1.5rem;
  }
}

.text-justify {
  text-align: justify !important;
}
