.text-justify {
  text-align: justify !important;
}

/* Default styles (for larger screens) */
.BlogDetail-container {
  font-size: 1rem !important;
}

/* Smaller font on mobile screens */
@media (max-width: 767.98px) {
  .BlogDetail-container {
    font-size: 0.8rem !important; /* or 0.85rem or smaller if needed */
  }
}

/* Default for large screens */
.post-story {
  font-size: 1rem;
}

/* Smaller font on mobile screens */
@media (max-width: 767.98px) {
  .post-story {
    font-size: 0.8rem;
  }
}
